:root {
  /*
  --main-font:font-family: 'Roboto', sans-serif;
  --secondary-font:font-family: 'Raleway', sans-serif;*/
  --mein-color: #2196f3;
}
body {
  font-family: var(--main-font);
}
/*COMPONENT*/
.logo__black {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__blue {
  color: #2196f3;
}
/*HEADER*/
.navigation__list__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
}
.navigation__list__link:hover,
.navigation__list__link:focus,
.address__link:hover,
.address__link:focus {
  color: var(--mein-color);
}
.address__link {
  font-style: normal;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
/*END HEADER*/
/*MAIN*/

.up {
  background: #2f303a;
}
.feative {
  font-family: "Roboto";
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
.klick__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  cursor: pointer;
}
.klick__button:hover,
.klick__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.name__img {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 0.875;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}
.name__comment {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 146%;
  vertical-align: Top;
  color: #757575;
}
.what__we__do {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 0.857;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.Our__team {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 0.857;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.people {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.job {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.team {
  background: #f5f4fa;
}
/*END MAIN*/
/*FOOTER*/
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
}

.logo__white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*END FOOTER*/
